* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

/********************************CLEARALL*************************************/
body {
  font-size: 1em;
  width: 100%;
}

h1 {
  color: #95A9C6;
  font-size: 2.6em;
}

h2 {
  color: #2D2640;
  font-size: 2.6em;
}

.top-bar {
  width: 100%;
  background-color: #FAFAFA;
  padding: 0;
  margin: 0;
}

.top-bar-container {
  width: 90%;
  height: 50px;
  background: transparent;
  margin: auto;
  padding: 10px;
}

.div-logo {
  width: 15%;
  height: 50px;
  background: #FAFAFA;
  float: left;
  margin: auto;
  text-align: center;
}

.topnav {
  margin-left: 15%;
  height: 50px;
  background: #FAFAFA;
}

.topnav a {
  float: right;
  display: block;
  color: #95A9C6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.logo img {
  width: 100%;
}

.top-container {
  background-color: #2D2640;
  background-image: url(images/bg-pattern-intro-right-desktop.svg);
  height: 30vh;
  margin: auto;
  width: 100%;
}

.block {}

.social-media {}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3E52A3;
}
